# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
